{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
<h1>Bienvenue dans l'espace d'administration</h1>
<a href="{{ path('category.index') }}">Liste des catégories</a>
{% endblock %}
