{% extends 'base.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}
    <h1>Edit Category</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">Edit</button>
    {{ form_end(form) }}
    <a href="{{ path('category.index', {'id': category.id}) }}">back to list</a>
{% endblock %}
